/* ABOUT COMPONENT */

.about-gradient {
  background-image: linear-gradient(to right, #cccccc, #0080ff);
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  div {
    max-width: 580px;
    padding: 0;
  }
}

.half-and-half {
  width: 50%;
}

.main-image-sizing {
  height: 450px; 
  background-size: 100%
}

// BREAK POINTS 

@media (max-width: 768px){
  .main-image-sizing {
    height: 350px; 
  }

  .about{
    div {
      max-width: 466px;
    }
  }
}