/* SKILLS COMPONENT */

.skills-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skill-block {
  width: 250px;
  background: #e0e0d1;
}

.list-header {
  font-size: 1.25rem;
  font-weight: 300;
}

.line-hr {
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid black;
}

.skills-list {
  list-style: none;
}

// BREAK POINTS

@media (max-width: 768px){
  .skills-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .skill-block {
    margin: 20px 0px;
  }
}