body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.projects-feed {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-link {
  width: 350px;
}

.pic-thumb {
  /* width: 50px; */
  height: 200px;
}

.link-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #007bff;
}

.link-overlay:hover {
  opacity: 1;
}

.skills-list {
  list-style: none;
}

.skill-block {
  width: 250px;
}

.line-hr {
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid black;
}

.list-header {
  font-size: 1.25rem;
  font-weight: 300;
}

.stagger {
  background: #ffffe6;
}

.skills {
  background: #e0e0d1;
}

.contact-link {
  color: #d6d6c2;
}

.contact-link:hover {
  color: white;
  text-shadow: 2px 2px 8px #0080ff;
}

#header {
  color: #00004d;
}


/* loader animation */

.loader {
  border: 16px solid black;
  border-top-color: blue;
  border-bottom-color: green;
  border-radius: 50%;
  margin: auto;
  width: 100px;
  height: 100px;
  animation: coloredspin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes coloredspin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    border-top-color: green;
    border-bottom-color: blue;
    transform: rotate(360deg) scale(1.1);
  }
  100%{
    transform: rotate(720deg) scale(1);
  }
}

.skills-body {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

/* ABOUT COMPONENT */

.about-gradient {
  background-image: linear-gradient(to right, #cccccc, #0080ff);
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.half-and-half {
  width: 50%;
}

.about-mod {
  max-width: 580px;
  padding: 0;
}

.main-image-sizing {
  height: 450px; 
  background-size: 100%
}

.boundary {
  border: 1px solid black;
}

/* BREAKPOINTS */

@media(max-width: 1200px){
  .about {
    /* flex-direction: column;
    align-items: center; */
  }

  .about-mod {
    /* max-width: 420px;
    min-width: 420px; */
  }

  .projects-feed {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .project-link {
    min-width: 350px;
    width: 65%;
    max-width: 500px;
    margin: 1rem 0;
  }
}

@media(max-width: 992px){
  .skills-body {
    flex-direction: column;
    /* color: green; */
    justify-content: center;
  }

  .skill-block {
    width: 100%;
  }

  /* .about-mod {
    min-width: 70%;
    max-width: 420px;
  } */
}

@media (max-width: 768px){
  .about {
    /* color: green; */
  }

  .project-link {
    width: 100%;
  }

  .main-image-sizing {
    height: 350px; 
  }

  .about-mod {
    max-width: 466px;
  }
}